body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    justify-items: center;
    font-family: "Roboto" , sans-serif;
    font-weight: 600;
    font-size: 1.375em;
}

 section.grid {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
    overflow: hidden;
    width: 50vh;
    height: 50vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 0.75fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "header header header header"
    "operators operators operators operators"
    "number number number result"
    "number number number result"
    "number number number result"
    "number number number result"
    ;
}



#header,#operators,#number,#result {
    text-align: center;
}

#header {
    grid-area: header;
    color: white;
    background-color: rgb(84, 81, 81);
    display: flex;
    justify-content: end;
    border: 1px solid #8c9fb0;  
}

#header div {
    margin: auto 10px;
}

#operators {
    grid-area: operators;
    display: inline-grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    background-color: #8c9fb0;
    grid-gap: 3px;
    border: 1px solid #8c9fb0;  
}

#number div {
    background-color: #eff2f5;
}

#operators div {
    background-color: #d2dce4;
}

#number {
    grid-area: number;
    display: inline-grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr 1fr 1fr;
    background-color: #8c9fb0;
    grid-gap: 3px;
    border: 1px solid #8c9fb0; 
}

#result {
    grid-area: result;
    background-color: rgb(233, 118, 118);
    border: 1px solid #8c9fb0;
    display: inline-grid;
}

#operators div,#number div,#result div {
    display: flex;
    justify-content: center;
    align-items: center;
}